<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Forms</title>
</head>
<body>
    <h1>Form Validation</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form action="/" method="post">
        <h2>Personal</h2>
        <input type="text" name="fname" placeholder="fname"
        title="3-30 characters long"><br>
        
        <input type="text" name="sname" placeholder="sname"
        title="3-50 characters long"><br>
        
        <input type="email" name="email" placeholder="email"
        title="Less than 60 characters long"><br>
        
        <input type="text" name="phone" placeholder="phone"
        title="11 characters long"><br>
        
        <input type="text" name="addrline" placeholder="addrline"
        title="Less than 255 characters long"><br>
        
        <input type="text" name="towncity" placeholder="towncity"
        title="Less than 255 characters long"><br>
        
        <input type="text" name="county" placeholder="county"
        title="Less than 50 characters long"><br>
        
        <input type="text" name="postcode" placeholder="postcode" pattern="/[A-Z]{1,2}[0-9]{1,2}[A-Z]?\s?[0-9][A-Z]{2}/i"
        title="6-8 characters long"><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>